<!DOCTYPE html>
<html>
<head>
    <title>Get ID</title>
</head>
<body>
    <h1>Get ID</h1>
    
    <form action="/login" method="get">
        <label for="platform">Select Platform:</label>
        <select id="platform" name="platform">
            <option value="google">Google/Youtube</option>
            <option value="microsoft">Microsoft</option>
            <option value="facebook">Meta/Instagram</option>
            <option value="twitter">X/Twitter</option>
            <option value="linkedin">LinkedIn</option>
            <option value="apple">Apple</option>
            <option value="github">GitHub</option>
            <option value="amazon">Amazon</option>
            <option value="salesforce">Salesforce</option>
            <option value="slack">Slack</option>
            <option value="paypal">PayPal</option>
            <option value="twitch">Twitch</option>
            <option value="discord">Discord</option>
            <option value="okta">Okta</option>
            <option value="Auth0">Auth0</option>
        </select>
        
        <button type="submit">Get ID</button>
    </form>
</body>
</html>
